/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/

gig_api-*.tar

/priv/static/assets/
/priv/static/cache_manifest.json
/assets/node_modules/

.idea/
*.iml
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

.env
.env.local